.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    column-gap: 10px;
}

.menu-element {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid tomato;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
}

img {
    border-radius: 35px;
    /* width: 150px;
    height: 150px; */
}

.btn {
    border-radius: 5px;
    background-color: rgb(241, 238, 233);
    border: none;
}

.drink {
    margin-bottom: 20px;
}
